
.Example__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Example__container__document .react-pdf__Page {
    max-width: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    margin: 1rem;
    
}

.Example__container__document .react-pdf__Page canvas {
    max-width: 100%;
    height: auto !important;
}

@media (max-width: 480px) {

    .Example__container__document .react-pdf__Page canvas {
            max-width: 100vw;
            height: auto !important;

        }
   
.Example__container__document .react-pdf__Page {
            max-width: 100%;
            box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
            margin-left: 10px;
        }
   
}